html,body,#root{
  font-family: sans-serif;
  height: 100%;
  background: rgb(180, 180, 180);
}

.App{
}

.GatesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Gate{
  margin: 5px;
  background: chocolate;
  border: solid black 2px;
}

.Gate_2{
  margin: 10px;
  flex: 10;
  flex-basis: 100px;
  min-height: 100px;
  min-width: 160px;
  max-width:200px;
  background: chocolate;
  border: solid black 2px;
}